<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Railway Crossing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerController</display-name>
    <servlet-name>registerController</servlet-name>
    <servlet-class>registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserloginProcess</display-name>
    <servlet-name>UserloginProcess</servlet-name>
    <servlet-class>UserloginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserloginProcess</servlet-name>
    <url-pattern>/UserloginProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminloginProcess</display-name>
    <servlet-name>AdminloginProcess</servlet-name>
    <servlet-class>AdminloginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminloginProcess</servlet-name>
    <url-pattern>/AdminloginProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRailwayCrossingController</display-name>
    <servlet-name>AddRailwayCrossingController</servlet-name>
    <servlet-class>AddRailwayCrossingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRailwayCrossingController</servlet-name>
    <url-pattern>/AddRailwayCrossingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleterailwayCrossingData</display-name>
    <servlet-name>deleterailwayCrossingData</servlet-name>
    <servlet-class>deleterailwayCrossingData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleterailwayCrossingData</servlet-name>
    <url-pattern>/deleterailwayCrossingData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRailwayCrossingController</display-name>
    <servlet-name>UpdateRailwayCrossingController</servlet-name>
    <servlet-class>UpdateRailwayCrossingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRailwayCrossingController</servlet-name>
    <url-pattern>/UpdateRailwayCrossingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addfavoriteCrossing</display-name>
    <servlet-name>addfavoriteCrossing</servlet-name>
    <servlet-class>addfavoriteCrossing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addfavoriteCrossing</servlet-name>
    <url-pattern>/addfavoriteCrossing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removefavoriteCrossing</display-name>
    <servlet-name>removefavoriteCrossing</servlet-name>
    <servlet-class>removefavoriteCrossing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removefavoriteCrossing</servlet-name>
    <url-pattern>/removefavoriteCrossing</url-pattern>
  </servlet-mapping>
</web-app>